body{
  background:rgb(255,0,0) url(/images/mars-bkgd.jpg) no-repeat center;
  background-size:cover;
  height:100%;
}
h1{
  color:rgb(254,188,72);
  font: italic bold 12em "Verdana", sans-serif;
  margin:0;
  padding:0;
  text-align:center;
}
h1 span{
  display:block;
  margin-bottom:-.5em;
  font-size:12rem;
  font-style:normal;
}
#forecast{
  margin:0;
  padding:2em;
  text-align:center;
}
#day{
  display:block;
}
#day h2{
  color:rgb(255,255,255);
  font-size:6em;
  margin-bottom:0;
}
#day p{
  color:rgb(255,255,255);
  margin:0 auto;
  font-size:2.5em;
}
#day span{
  font-weight:bold;
}
#temp{
  display:block;
  margin:1.5rem auto;
  font-size:14em;
  font-weight:bold;
  color:rgb(225,0,0);
}
label{
  margin:1em -.5em;
}
label:hover{
  height:auto;
}
label p{
  padding:.25em .5em;
  font-size:3em;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none;
  background: rgb(254,188,72);
  font-weight:600;
  color: rgb(0,0,0);
}
#atmo{
  margin:2rem 0;
  /*color:rgb(254,188,72);*/
  font-size:4.5em;
}
/* footer */
footer {
  display:block;
  background-color: black;
  color: gray;
  margin-top:2.5rem;
  height:20vh;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
  width:100%;
  bottom:0;
  text-align: center;
  border-top:.2em solid rgb(255,255,255);
}
footer li{
  display:inline-block;
  list-style-type:none;
  padding-right:.8em;
}
